<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head(title = 'All Posts Page')">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="partials :: navbar"></div>
<h1>Create Product Form</h1>
<form th:action="@{'/products/create'}" th:method="post" th:object="${product}">
    <label th:for="name">Name</label>
    <input th:field="*{name}" th:id="name">
    <label th:for="description">Description</label>
    <input th:field="*{description}" th:id="description">
    <label th:for="price_in_cents">Price In Cents</label>
    <input th:field="*{priceInCents}" th:id="price_in_cents">
    <label th:for="in_stock">In Stock</label>
    <input type="checkbox" th:field="*{inStock}" th:id="in_stock">
    <input type="submit" value="Create Product">
</form>

<div th:replace="partials :: scripts">
</div>
</body>
</html>