<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<th:block th:if="${action != null}">
    <th:block th:if="${action == 'create'}">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
    </th:block>
    <th:block th:if="${action == 'edit'}">
        <form th:action="@{|/posts/edit/${post.id}|}" th:method="post" th:object="${post}">
    </th:block>
    <th:block>
        <form th:object="${post}">
            <input th:if="${action == 'edit'}" type="hidden" th:field="*{id}">
            <label for="title">Title:</label>
            <input th:field="*{title}" name="title" id="title"/>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
<!--            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>-->
            <br/>
            <label for="body">Body:</label>
            <input th:field="*{body}" name="body" id="body"/>
            <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"/>
            <br/>
            <input type="submit">
        </form>
    </th:block>
</th:block>

</body>
</html>