<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head(title = 'Edit Post Page')">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:action="@{/posts/edit}" th:method="post" th:object="${post}">
    <input type="hidden" th:field="*{id}">
    Title:
    <input th:field="*{title}">
    <br/>
    Body:
    <input th:field="*{body}">
    <br/>
    <input type="submit">
</form>

<div th:replace="partials :: scripts">
</div>
</body>
</html>