<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<title>Show Page</title>
<body>
<h1>Show Page</h1>
<th:block th:if="${Post != null}">
    <h1 th:text="${Post.getTitle()}"></h1>
    <h3 th:text="${Post.getBody()}"></h3>
</th:block>
<!--<div th:if="${Post != null}">-->
<!--    <h1 th:text="${Post.title}"></h1>-->
<!--    <h3 th:text="${Post.body}"></h3>-->
<!--</div>-->
</body>
</html>