<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join</title>
</head>
<body>

<h1 th:text="${cohort}"></h1>

<form action="/join" method="post">
    <input type="text" name="cohort" id="cohort-ip" class="field"/>
    <button>Join now</button>
</form>

<div th:each="item : ${list}">
    <p th:text="${item}"></p>
</div>

<div class="alert alert-danger" th:if="${list == null}">
    Something bad happened
</div>

<div th:fragment="my-partial">
    partial content goes here...
</div>


</body>
</html>